@import '../utils/vars';

.backdrop {
    @extend %position;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal-form {
    @extend %position;
}
.form-item {
    @extend %position;
    width: 448px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-item {
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    resize: none;
    color: rgba(117, 117, 117, 0.5);
        &:focus {
            color: $main-font-color;
        }
}
.form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.form-filed {
    position: relative;
    max-width: 448px;
}
.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}
.icon-modal {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 12px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.form-item:focus+.icon-modal {
    color: $secondary-font-color;
}
:focus-visible {
    outline: transparent;
}
.form-item:focus {
    border-color: $secondary-font-color;
}

.policy-form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    @extend %position;
    max-width: 448px;
    font-size: 14px;
    line-height: 1.71;
    color: $color-telmail;
}
.policy {
    appearance: none;
}
.policy:checked+.policy-icon {
    border: transparent;
    background: $secondary-font-color;
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}
.policy-link {
    color: $secondary-font-color;
    text-underline-position: under;
}
.policy-icon {
    position: absolute;
    left: 5px;
    top: 4px;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
}
.modal {
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    transform: scaleY(1);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transform: scaleY(0);
}
.modal-icon {
    fill: currentColor;
    width: 10px;
    height: 10px;
}