$main-font-color: #212121;
$secondary-font-color: #2196f3;
$secondary-font-family: "Raleway", sans-serif;
$bg-color: #ffffff;
$color-telmail: #757575;

%position {
    display: flex;
    justify-content: center;
    align-items: center;
}
